
body {
    margin: 0;
    padding: 0;
}

.logo {
  
    padding-inline-start: 38%;
 
}

.search {

    text-align: center;
    background-color: rgb(230, 224, 218);
}


.box {
    height: 65px;
    width: 450px ;
    background-color: rgb(0, 255, 255);
    padding: 10px;
    margin: 10px 1px;
    float: left;
    text-align: center;

}

.bg-med {
    width: 250px;
    background-color: rgb(0, 172, 172);
}

.bg-last {
    width: 650px;
    background-color: rgb(1, 138, 138);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.fs-5 {
    font-size: 13px;
}
